@font-face {
  font-family: 'Skriva';
  src: url(./assets/fonts/Skriva.ttf);
}

@font-face {
  font-family: 'Skriva Bold';
  src: url(./assets/fonts/Skriva_Bold.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(./assets/fonts/Inter.ttf);
}

@font-face {
  font-family: 'Chalkduster';
  src: url(./assets/fonts/Chalkduster.ttf);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #ededed;
}

#svg-root {
  max-width: 1500px;
  opacity: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1px;
    stroke-opacity: 1;
  }

  to {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
}

@keyframes jitter {
  0%, 100% {
    transform: translate(5px, 5px);
  }
  
  50% {
    transform: translate(0);
  }
}

@keyframes jitter-arrow {
  0%, 100% {
    transform: translate(-5px, -5px);
  }
  
  50% {
    transform: translate(0);
  }
}

@keyframes trumpet {
  10%, 20%, 100% {
    opacity: 0;
  }
  
  0%, 15%, 25% {
    opacity: 1;
  }
}